# будут игнорироваться все файлы, находящиеся в подкаталоге tmp
tmp/

# будут игнорироваться все файлы, заканчивающиеся суффиксом _old 
*.*_old

# будут игнорироваться все файлы, заканчивающиеся суффиксом _backup 
*.*_backup

# будут игнорироваться все файлы Thumbs.db 
Thumbs.db

# будут игнорироваться все файлы, с расширением .DS_Store
*.DS_Store